{% extends 'main.html' %}
{% load static %}

{% block title %}{{ device.title|title }}{% endblock %}
{% block content %}

<style>
    .device-img{
        min-height: 150px;
        min-width: 300px;
        max-width: 500px;
        max-height: 500px;
    }
    .card{
        background-color: rgb(31,41,55);
    }
</style>

{% for message in messages %}
<br>
<br>
<div class="alert mt-3 alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
<br>
<div class="container my-5" style="width: 800px; background-color: rgb(31,41,55); color: white;">
	<div class="row justify-content-center" style="background-color: rgb(31,41,55);">
		<div class="card col-12 shadow-sm">
			<div class="card-body container" >
				<div class="row justify-content-center">
					<div class="col-6 card-title text-center">
						<h3>{{ device.title|title }}</h3>
					</div>
					<div class="col-6"></div>
				</div>
				<div class="row justify-content-center mb-3">
					<img class="col-md-6 device-img" src="{{ device.image.url }}"></img>
					<div class="col-md-6 fs-5">
						<div class="container">
							<div class="row text-center">
                                <div class="col-12" style="font-size: 0.95em;">
									<h5>Description</h5>
									<p>{{ device.description }}</p>
								</div>
								{% if device.sale_type == 1 %}
								<div class="col-12 text-center mb-4">
									<span>Price: <span class="text-success">${{ device.price }}</span></span>
								</div>
								<div class="col-12 text-center mb-4">
									<!-- <span>Contact to buy:</span>
									<span class="d-block text-success">Phone: {{ art.artist.phone }}</span>
									<span class="d-block text-success">Email: {{ art.artist.email }}</span> -->
									<form method="POST" action="{% url 'send_email' %}">
										{% csrf_token %}
										<input type="hidden" name="device" value="{{ device.id }}">
										<input type="hidden" name="sale_type" value="1">
										<input type="submit" value="Want to Buy" class="btn btn-info" style="color: white;">
									</form>
								</div>
								{% else %}
								<div class="col-12 text-center mb-4">
									<!-- <span>Contact for commissions:</span>
									<span class="d-block text-success">Phone: {{ art.artist.phone }}</span>
									<span class="d-block text-success">Email: {{ art.artist.email }}</span> -->
									<form method="POST" action="{% url 'send_email' %}">
										{% csrf_token %}
										<input type="hidden" name="device" value="{{ device.id }}">
										<input type="hidden" name="sale_type" value="2">
										<input type="submit" value="Contact" class="btn btn-info" style="color: white;">
									</form>
								</div>
								{% endif %}
								
							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-6 text-center">
						<h5>{{ device.seller.username }}</h5>
						
						{% if device.sale_type == 1 %}
						<span class="text-danger fs-5">(Sale)</span>
						{% else %}
						<span class="text-success fs-5">(Donation)</span>
						{% endif %}
					</div>
					<div class="col-md-6"></div>
				</div>
				
			</div>
		</div>
	</div>
</div>
{% endblock %}