{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}">
    <title>sign up</title>
    
</head>
<body>
    <div class="login-dark">
        <form method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
            {% for message in messages %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
            {% endfor %}
            
            <div class="form-group"><input class="form-control" type="text" name="username" placeholder="Username"></div>
         
            
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
            <div class="form-group"><input class="form-control" type="tel" name="phone" placeholder="Phone Number"></div>
            <div class="form-group"><input class="form-control" type="text" pattern="[0-9]{5}" name="zip" placeholder="5-digit zipcode"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
            <div class="form-group"><input class="form-control" type="password" name="confirmPass" placeholder="Confirm Password"> <div>
                <i class="fa-solid fa-eye-slash pwd-eye" style="display: none;" data-state="0"></i>
                <i class="fa-solid fa-eye pwd-eye" data-state="1"></i>
            </div></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Sign Up</button></div><a href="{% url 'login' %}" class="signup">Already have an account?</a>
            
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

</body>
</html>